<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>vip</servlet-name>
		<servlet-class>Pmc.Class</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>vip</servlet-name>
		<url-pattern>/submit</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
	<welcome-file>pmc.html</welcome-file>
	</welcome-file-list>
</web-app>
